{
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 90,
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "svelteSortOrder":"options-styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "trailingComma": "none"
}
